html{
    min-width: 100%;
    min-height: 100%;
}
#player2{
    
}

.correctChar{
    background-color: blueviolet;
}

.bannerWinner{
    min-width: 100%;
    min-height: 100%;
    border: 2px solid red;
    visibility: hidden;
}   
.bannerLoser{
    min-width: 100%;
    min-height: 100%;
    border: 2px solid pink;
    visibility: hidden;
}